
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


#reg{
    position: fixed;
    z-index: -1;
    width: 100%;
    margin-left: -21.1%;
}
 
#outter{
    position: fixed;
    z-index: 2;
    opacity: .7;
    margin-left: -95%;
    margin-top: 2.8%;
}

