<h1>New Admin</h1>

<form id="registerAd">
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input class="form-control" id="exampleInputPassword1" placeholder="Last name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input class="form-control" id="exampleInputPassword1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Username</label>
    <input class="form-control" id="exampleInputPassword1" placeholder="Username">
  </div>

  <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Register</button>
</form>

<img id="background" src="https://images8.alphacoders.com/865/865455.jpg">