<app-admin-nav-bar id="navigate"></app-admin-nav-bar>
<table id="table" class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <!-- Post information, ordered by above <thead> -->
    <tbody>
        <tr class="postRow" *ngFor="let user of allUsers">
            <th class="clickable" (click)="viewUser(user)" >{{user.username}}</th>
            <th class="clickable" (click)="viewUser(user)" >{{user.email}}</th>
            <th class="clickable" (click)="viewUser(user)" >{{user.fname}}</th>
            <th class="clickable" (click)="viewUser(user)" >{{user.lname}}</th>
            <th class="clickable" (click)="viewUser(user)" >{{user.accStatus.accStatus}}</th>
            <td class="clickable" *ngIf="user.accStatus.accStatus === 'Active'">
                <button mat-raised-button color="warn" id="delete" (click)="makeInactive(user)">Deactivate Account</button>
            </td>
            <td *ngIf="user.accStatus.accStatus === 'Inactive'">
                <button mat-raised-button color="warn" id="delete" (click)="makeActive(user)">Activate Account</button>
            </td>
        </tr>
    </tbody>
</table>

<img id="background" src="https://images8.alphacoders.com/567/567772.jpg">