<table id="table" class="table table-dark">
    <thead>
        <tr>
            <th style="font-size:2vw;" scope="col">Username</th>
            <th style="font-size:2vw;" scope="col">Email</th>
            <th style="font-size:2vw;" scope="col">First Name</th>
            <th style="font-size:2vw;" scope="col">Last Name</th>
            <th style="font-size:2vw;" scope="col">Edit</th>
        </tr>
    </thead>
    <!-- Post information, ordered by above <thead> -->
    <tbody>
        <tr *ngFor="let postsAll of posts">
            <th style="font-size:1.5vw;"></th>
            <th style="font-size:1.5vw;">

            </th>
            <td style="font-size:1.5vw;">

            </td>
            <td style="font-size:1.5vw;">
              
            </td>
            <td>
                <button mat-raised-button color="warn" id="delete">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<img id="venom" src="https://i.pinimg.com/originals/d3/68/73/d3687342e8cd7b0464216b91e75b6075.gif">

<img id="background" src="https://images8.alphacoders.com/567/567772.jpg">