#log{
    z-index: 3;
    position: fixed;
    margin-top: 10%;
    margin-left: -18%;
    width: 20%;
    color: aliceblue;
    font-weight: bold;
}

h1{
    z-index: 3;
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 800%;
    margin-left: -18%;
}

#icons{
    position: fixed;
    margin-top: 10%;
    margin-left: 11%;
    z-index: -1.5;
    opacity: .6;
}

#indicators{
    margin-bottom: 60%;
}

#carouselExampleIndicators{
    position: fixed;
    width: 100%;
    margin-left: -21%;
}

#slider{
    width: 50%;
    height: 50%;
    
}

#item{
    height: 20%;
}



