#log{
    z-index: 3;
    position: fixed;
    margin-top: 14%;
    margin-left: 2.5%;
    width: 20%;
    color: aliceblue;
    font-weight: bold;
}

#hero{
    margin-left: 18%;
    margin-top: 4%;
    position: fixed;
    height: auto;
    width: auto;
    opacity: .8;
}

h1{
    z-index: 3;
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 800%;
    margin-top: 5%;
    margin-left: 3.5%;
}

#icons{
    position: fixed;
    margin-top: 10%;
    margin-left: 11%;
    z-index: -1.5;
    opacity: .6;
}

#slider{
    width: 50%;
    height: 50%;
    
}

#item{
    height: 20%;
}



