<h1>
  Login</h1>

<form id="log" class="container-fluid">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="username" class="form-control" id="exampleInputEmail1 " aria-describedby="emailHelp" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button mat-raised-button color="primary" (click)="login()">Login</button>
</form>

<img src="https://wallpapercave.com/wp/DTvUQor.jpg" id="outter">


<img id="hWall" src="https://mfiles.alphacoders.com/639/639393.jpg" alt="First slide">