<h1></h1>

<mat-card id="prof" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle id="fontt">Username</mat-card-subtitle>
        <mat-card-subtitle id="fontt">First Name </mat-card-subtitle>
        <mat-card-subtitle id="fontt">Last Name</mat-card-subtitle>
        <mat-card-subtitle id="fontt">Email</mat-card-subtitle>
    </mat-card-header>
    <img id="pic" mat-card-image src="https://t3.ftcdn.net/jpg/00/64/67/80/240_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg">
    <mat-card-content>
        <div>
            About me
            <br>
            <textarea cols="67" rows="5"></textarea>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button id="rP" mat-raised-button color="warn">Reset Password</button>
    </mat-card-actions>
</mat-card>


<img src="https://www.desktopbackground.org/download/o/2012/09/18/454523_download-abstract-macbook-pro-wallpapers-3421-2880x1800-px-high_2880x1800_h.jpg">