<app-admin-nav-bar id="navigate"></app-admin-nav-bar>
<mat-card id="prof" class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-subtitle id="fontt">First Name </mat-card-subtitle>
        <mat-card-subtitle id="fontt">Last Name</mat-card-subtitle>
    </mat-card-header>
    <img id="pic" mat-card-image src="https://herokids.wordpress.com/files/2007/12/professor-x.jpg">

</mat-card>

<img id="venom" src="https://i.pinimg.com/originals/d3/68/73/d3687342e8cd7b0464216b91e75b6075.gif">

<img id="background" src="https://images8.alphacoders.com/567/567772.jpg">

<img id="spider" src="http://superheroes-villainsunlimited.weebly.com/uploads/3/1/0/9/31092107/spidey07.gif">

<img id="hulk" src="http://superheroes-villainsunlimited.weebly.com/uploads/3/1/0/9/31092107/superhero.gif">

<img id="iMan" src="http://38.media.tumblr.com/d754064919f14d3f2ef455e4a1f23c58/tumblr_milnwid33R1r72ht7o1_500.gif">

<img id="wolv" src="https://steamusercontent-a.akamaihd.net/ugc/89347862355703084/E788C26D7830C0F0753308A57CC474743A686149/">

<img id="sup" src="https://media.giphy.com/media/rnHaXX2yIy760/200w.gif">

<img id="cap" src="https://vignette.wikia.nocookie.net/deathbattle/images/6/68/DEATH_BATTLE_Captain_America.gif/revision/latest?cb=20151203023126">

<img id="bat" src="https://orig00.deviantart.net/93cf/f/2016/089/6/a/batman_idle_da_by_pdexter-d9x1gji.gif">

<img id="green" src="http://mondo.gif.free.fr/super%20heros/green%20lantern%202/green%20lantern%20kyle%20rayner%20(1).gif">

<img id="arrow" src="https://vignette.wikia.nocookie.net/dc-microheroes/images/3/36/Green-Arrow_HW.gif/revision/latest?cb=20110222011601">