<form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Title</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="exampleFormControlFile1">Upload Video/Image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>

      <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

    <div class="form-group">
      <label for="exampleFormControlSelect2">Step 1</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="step 1">
    </div>
   

    <div class="form-group">
        <label for="exampleFormControlSelect2">Step 2</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="step 2">
      </div>

      <div class="form-group">
          <label for="exampleFormControlSelect2">Step 3</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="step 3">
        </div>
  </form>
