<div class="card" >
    <div class="card-body">
      <h5 style="font-size: 3vw" class="card-title">Soft Light Box</h5>
      <iframe id="video" class="embed-responsive embed-responsive-16by9" class="card-img-top" src="https://www.youtube.com/embed/4KBEb-_B45o" ></iframe>
      <p style="font-size: 1.2vw" class="card-text">Video Description: <br> This video is based around designing a soft box light for taking exceptional photography. For more on this topic visit my YouTube channel for daily updates!</p>
    </div>
    <ul class="list-group list-group-flush">
      <li style="font-size: 1.2vw" class="list-group-item">Step 1:</li>
      <li style="font-size: 1vw" class="list-group-item">That background though, whoever styled this page did a phenominal job!</li>
      <textarea class="list-group-item" placeholder="Enter Comment"></textarea>
      <button style="font-size: .9vw" id="submit" mat-raised-button color="primary">Submit Comment</button>
    </ul>
  </div>

  <img src="https://img00.deviantart.net/490a/i/2016/272/d/7/much_punches___one_punch_man_wallpaper_by_deto15-dajafem.png" id="oneP">
