#elec{
    position: fixed;
    z-index: 1;
    width: auto;
    height: auto;
}

h1{
    z-index: 3;
    position: fixed;
    color: white;
    font-weight: bolder;
    opacity: .8;
    font-size: 500%;
    margin-left: 2%;
    margin-top: 4%;
}