#prof{
    z-index: 1;
    position: fixed;
    width: 28%;
    margin-left: 2%;
    margin-top: 5%;
    background-color: rgba(53, 49, 49, 0.774);
    color: white;
    font-weight: bold;
    font-size: 120%;
    border-radius: 5% 5%;
    box-shadow: 0px 0px 5px 5px;
    width: 25%;
}

#hWall{
    position: fixed;
    width: 120%;
}

#prof:hover{
    background-color: rgba(53, 49, 49, 0.952); 
}

#rP{
    box-shadow: 0px 0px 5px 5px;
    border-radius: 10% 10%;
    margin-left: 35%
}

#fontt{
    font-size:100%;
    color: white;
    text-align: left;
}

#pic{
    width: 100%;
    margin-left: 0%;
    border-radius: 10% 10%;
    
}

textarea{
    border-radius: 5% 5%;
    width: 100%;
}

#design{
    width: 100%;
    position: fixed;
}

#table{
    z-index: 1;
    position: absolute;
    margin-left: 30%;
    margin-top: 5%;
    width: 68%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    opacity: .7;

}

#table:hover{
    opacity: .9;
}

td{
    width: 10%;
}

th{
    width: 5%;
}