<mat-card id="prof" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title id="fontt" >Username</mat-card-title>
    <mat-card-subtitle id="fontt" >First Name</mat-card-subtitle>
    <mat-card-subtitle id="fontt">Last Name</mat-card-subtitle>
    <mat-card-subtitle id="fontt">Email</mat-card-subtitle>
  </mat-card-header>
  <img id="pic" mat-card-image src="https://projects.johnmarshallmedia.com/img/users/user.png" >
  <mat-card-content>
    <div>
        Profile description <br>
     <textarea cols="67" rows="5"></textarea> 
  </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn">Reset Password</button>
  </mat-card-actions>
</mat-card>

<img src="https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg:large" id="reg">
