<h1>Post</h1>

<!-- User creating a new post form -->
<form id="regF">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name= "title" [(ngModel)]="post.title">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Category</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Craft</option>
      <option>Home Improvement</option>
      <option>Food</option>
      <option>Art</option>
      <option>Outdoors/Garden</option>
      <option>Electronics</option>
      <option>Other</option>
    </select>
  </div>

  <div class="form-group ">
    <label for="exampleFormControlFile1">Upload Video</label>
    <input type="file" accept="video/mp4" class="form-control-file" id="exampleFormControlFile1" name="testPic" (change)="selectFile($event)">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name ="description" [(ngModel)]="post.description"></textarea>
  </div>

  <div class="form-group" *ngFor="let step of post.steps">
    <label for="exampleFormControlSelect2">Step {{step.stepNum}}: </label> <br>
    <img id="pImg" src="https://cdn.dribbble.com/users/791870/screenshots/2192118/cape_animation.gif"> <br><br>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="step {{step.stepNum}} text here..." name ="stepText"[(ngModel)]="step.stepText" > 
  </div> 

  <button id="add" mat-mini-fab="warn" (click)="addStep()">+</button>
  <button *ngIf="post.steps.length > 1" id="minus" mat-mini-fab="warn" (click)="removeStep()">-</button>
  <button id="submit" mat-raised-button color="primary" (click)="makeAPost()">Submit</button>
</form>

<img src="https://pbs.twimg.com/media/DMDIKcyWsAEsKDj.jpg:large" id="reg">

<img src="https://wallpapercave.com/wp/DTvUQor.jpg" id="outter">

<img id="hWall" src="https://mfiles.alphacoders.com/639/639393.jpg" alt="First slide">