#regF{
    z-index: 3;
    position: absolute;
    margin-top: 12%;
    margin-left: 3%;
    color: white;
    font-weight: bold;
    width: 20%;
}

#pImg{
    width: 100%;
}

#submit{
    float: right;
}

#add{
    background-color: rgb(6, 47, 66);
    font-weight: bold;
    border-radius: 5% 5%;
}
#minus{
    background-color: rgb(131, 12, 4);
    font-weight: bold;
    border-radius: 5% 5%;
}

h1{
    z-index: 3;
    position: absolute;
    color: white;
    font-weight: bolder;
    font-size: 800%;
    margin-top: 5%;
    margin-left: 6%;
}

#hWall{
    position: fixed;
    width: 120%;
}