#regi{
    z-index: 3;
    position: absolute;
    margin-top: 15%;
    margin-left: 2.5%;
    color: white;
    font-weight: bold;
    width: 20%;
    opacity: .8;
} 

h1{
    z-index: 3;
    position: absolute;
    color: white;
    font-weight: bolder;
    margin-top: 6%;
    margin-left: 2.8%;
}

#hWall{
    position: fixed;
    width: 120%;
    height: auto;
<<<<<<< HEAD
=======
}

#navigate{
    position: fixed;
    width: 100%;
    z-index: 6;
>>>>>>> ae4f6c89bc4a4e89f9e58310c108b379a06be6c5
}