<h1>Register</h1>

<mat-vertical-stepper id="regi" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="formGroup1">
    <form [formGroup]="formGroup1">
      <ng-template matStepLabel>First Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup2">
    <form [formGroup]="formGroup2">
      <ng-template matStepLabel>Last Name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup3">
    <form [formGroup]="formGroup3">
      <ng-template matStepLabel>Email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup4">
    <form [formGroup]="formGroup4">
      <ng-template matStepLabel>Username</ng-template>
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="fourthCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="formGroup5">
    <form [formGroup]="formGroup5">
      <ng-template matStepLabel>Password</ng-template>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="fifthCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<img src="https://wallpapercave.com/wp/DTvUQor.jpg" id="outter">

<img id="hWall" src="https://mfiles.alphacoders.com/639/639393.jpg" alt="First slide">