#regi{
    z-index: 3;
    position: fixed;
    margin-top: 15%;
    margin-left: 2.5%;
    color: white;
    font-weight: bold;
    width: 20%;
    opacity: .8;
} 

h1{
    z-index: 3;
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 700%;
    margin-top: 3.5%;
    margin-left: .5%;
}

#hWall{
    position: fixed;
    width: 120%;
}