#homeBackground {
    position: fixed;
    z-index: 1;
    width: 100%;
}

h1{
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 700%;
    margin-left: 32%;
    margin-top: 15%;
    z-index: 1;
    text-shadow: 4px 4px 1px rgba(187, 30, 2, 0.664);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .7;
    text-align: center;
}


h3{
    position: fixed;
    z-index: 1;
    font-size: 400%;
    color: white;
    margin-top: -85%;
    margin-left: 3%;
    opacity: .8;
    font-weight: bold;
}

#hero{
    margin-left: 18%;
    margin-top: 4%;
    position: fixed;
    height: auto;
    width: auto;
    opacity: .8;
}

#icons{
    position: fixed;
    margin-top: 10%;
    margin-left: 11%;
    z-index: -1.5;
    opacity: .6;
}

#indicators{
    margin-bottom: 60%;
    z-index: 2;
}

.carousel-item{
    position: fixed;
}

#slider{
    width: 50%;
    height: 50%;
    
}

#item{
    height: 20%;
}

