#homeBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-left: -20.5%;
}

h1{
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 700%;
    margin-left: 10%;
    margin-top: 15%;
    z-index: 1;
    text-shadow: 4px 4px 1px rgba(187, 30, 2, 0.664);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .7;
}

h3{
    position: fixed;
    z-index: 3;
    font-size: 400%;
    color: white;
    margin-top: -62%;
    margin-left: 3%;
    opacity: .8;
    font-weight: bold;
}


#icons{
    position: fixed;
    margin-top: 10%;
    margin-left: 11%;
    z-index: -1.5;
    opacity: .6;
}

#indicators{
    margin-bottom: 60%;
}

#carouselExampleIndicators{
    position: fixed;
    width: 100%;
    margin-left: -21%;
}

#slider{
    width: 50%;
    height: 50%;
    
}

#item{
    height: 20%;
}

