#homeBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-left: -20.5%;
}

h1{
    position: fixed;
    color: white;
    font-weight: bolder;
    font-size: 150px;
    margin-left: -5%;
    margin-top: 5%;
    z-index: 1;
    text-shadow: 4px 4px 1px rgb(1, 1, 61);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .9;
}

#icons{
    position: fixed;
    margin-top: 10%;
    margin-left: 11%;
    z-index: -1.5;
    opacity: .6;
}